<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task List</title>
  <link rel="stylesheet" th:href="@{/tasks.css}">
</head>
<body>
<h2>タスク一覧</h2>

<p style="color:green;" th:if="${message}" th:text="${message}"></p>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>タイトル</th>
    <th>カテゴリ</th>
    <th>期限</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${taskPage.content}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.title}"></td>
    <td th:each="category : ${categories}"
        th:if="${category.id == task.categoryId}"
        th:text="${category.name}"></td>
    <td th:text="${task.dueDate}"></td>
    <td>
      <form th:action="@{/tasks/{id}/updateStatus(id=${task.id})}" th:method="POST">
        <button
            name="status"
            th:class="${status == task.currentStatus} ? 'highlight-' + ${status.name().toLowerCase()} : ''"
            th:disabled="${status == task.currentStatus}"
            th:each="status : ${statuses}"
            th:text="${status}"
            th:value="${status}"
            type="submit"
        >
        </button>
      </form>
    </td>
    <td><a th:href="@{/tasks/{id}/edit(id=${task.id})}">編集</a></td>
    <td>
      <form method="post" th:action="@{/tasks/{id}/delete(id=${task.id})}">
        <input name="id" th:value="${task.id}" type="hidden">
        <button type="submit">削除</button>
      </form>
    </td>

  </tr>
  <tr th:if="${taskPage.totalElements == 0}">
    <td>タスクはありません</td>
  </tr>
  </tbody>
</table>
<a method="GET" th:href="@{/tasks/new}">タスクの新規作成</a>

<div class="size">
  <form action="/tasks" method="get">
    <label for="size">表示件数を選んでください</label>
    <select id="size" name="size">
      <option th:selected="${size == 3}" value="3">3</option>
      <option th:selected="${size == 5}" value="5">5</option>
      <option th:selected="${size == 7}" value="7">7</option>
    </select>
    <button type="submit">送信</button>
  </form>
</div>

<div class="summary">
  全<strong th:text="${taskPage.totalElements}"></strong>件中
  <strong th:text="${taskPage.number * taskPage.size + 1}"></strong>~
  <strong th:text="${taskPage.number * taskPage.size + taskPage.numberOfElements}"></strong>件目を表示しています
</div>

<div class="pagination" th:if="${taskPage.totalPages > 1}">
  <span class="page-item" th:if="${currentPage > 0}">
    <a class="page-link" th:href="@{/tasks(page=${currentPage - 1}, size=${size})}">前へ |</a>
  </span>
  <span class="page-item" th:if="${currentPage == 0}">
    <span class="page-disabled">前へ |</span>
  </span>

  <span class="page-item" th:text="${currentPage + 1}"></span> /
  <span th:text="${taskPage.totalPages}"></span>

  <span class="page-item" th:if="${currentPage + 1 < taskPage.totalPages}">
    <a class="page-link" th:href="@{/tasks(page=${currentPage + 1}, size=${size})}">| 次へ</a>
  </span>

  <span class="page-item" th:if="${currentPage >= taskPage.totalPages - 1}">
    <span class="page-disabled">| 次へ</span>
  </span>
</div>

</body>
</html>